---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

nav {
	background-color: black !important;

	.navbar-brand {
    font-family: Quicksand, sans-serif;
		font-size: 1.5em;
		font-weight: 800;
	}

	.social a {
		color: white;
	}
}

.jumbotron {
	.fulltitle {
		font-family: "Open Sans", sans-serif;
		font-size: 2.5em;
		line-height: 1em;
		color: #888;

		.l1, .l4::first-letter, .l5::first-letter, .l6::first-letter, .l7::first-letter {
			color : #444;
		}
	}

	h2 {
    font-family: 'Libre Baskerville', serif;

		text-align: left !important;
		padding-top: 0 !important;
		text-decoration: none !important;
	}
}

footer {
	background: #FAFAFA;
	padding : 40px 0;
	margin-top: 40px;
	font-size: 0.8em;

	h3 {
		font-size: 1em;
		font-weight: bold;
		text-align: left !important;
		text-decoration: none !important;
	}
}

.container {
	// padding: 20px 0;

	h2 {
		padding: 40px 0 20px 0;
		text-align: center;
	}

	h3 {
		text-align: center;

		.info {
			color: #999;
			font-size: 0.8em;
			text-decoration: none;
		}
	}

	& > h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    text-align: left;

    padding : 0em;
    margin: 1em 0 0.5em 0;

    // background-color: #fffcaa; // #fffc82;

		// text-decoration: underline;
		// text-decoration-color: yellow;
	}

	& > h3 {
    text-align: left;
    margin: 0.5em 0 0.3em 0;
		// text-decoration: underline;
		// text-decoration-color: #0099ff;
	}

	h4 {
		// text-align: center;

		.info {
			color: #999;
			font-size: 0.8em;
		}
	}

	img {
		width : 100%;
	}
}

.rawpage {
	h2, h3 { text-align: left; }
}

.seminar {
  .info {
    ul {
      padding-left: 1em;
    }
  }


	.date {
		font-weight: bold;
	}

	.date, .location {
		font-size: 1.1em;
		margin-bottom: 1em;
	}

	.col {
		h3 {
      font-family: 'Libre Baskerville', serif;
			color: #999;

			font-size: 1em;
			font-weight: bold;
			text-align: left;
		}
	}
}

#projects {
	& > div {
		margin: 20px 0;
	}

	& > div:first-child { margin-top: 0px; }
	& > div:last-child { margin-bottom: 0px; }

	h3 {
		text-align: left;
    margin-top: 0.6em;
	}

  .icon {
    text-align: center;
    font-size: 1.5em;
    color: #999;
  }

  .learn_more {
    margin-bottom: 10px;
  }

  .abstract + .learn_more {
    margin-top: 1em;
  }
}

#testimonials {
	iframe {
		//width: 100%;
		//height: auto;
	}
}

#events {
	&.page {
		h2, h3 { text-align: left;}

	}

	.event {
		margin-bottom: 0.5em;

		.info {
			color: #999;
		}
	}

	#highlights {
		& > div { margin-bottom: 40px; }
	}

  .flyer {
    margin : 20px 0;

    -webkit-box-shadow: 3px 3px 9px 0px rgba(153,153,153,0.6);
    -moz-box-shadow: 3px 3px 9px 0px rgba(153,153,153,0.6);
    box-shadow: 3px 3px 9px 0px rgba(153,153,153,0.6);
  }

}

#partners {
	a {}

	img {
		display: inline;
		max-height: 50px;
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.launch {
  .speaker {
    h4 {
      margin-top: 0.5em;
      text-align : center;
    }
  }
}
