---
title: "highlights & events"

container: true
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign events = site.events | sort: 'date' | reverse %}

<div id="events" class="row page">
  <div class="col col-md-3">

  <h2>Upcoming Events</h2>

  {% for event in events reversed %}
  {% capture posttime %}{{ event.date | date: '%s'}}{% endcapture %}

  {% if posttime > nowunix %}
  <div class="event">
    <a href="#evt_{{ event.title | slugify }}" class="evt-internal-lnk">{{ event.title }}</a>

    <span class="info">
      {% if event.fulldate %}
        {{ event.fulldate }}
      {% else %}
        {{ event.date | date : "%d.%m.%Y" }}
      {% endif %}
    </span>
  </div>
  {% endif  %}
  {% endfor %}

  <h2>Past Events</h2>

  {% for event in events %}

  {% capture posttime %}{{ event.date | date: '%s'}}{% endcapture %}

  {% if posttime < nowunix %}

  <div class="event small">
    <a href="#evt_{{ event.title | slugify }}" class="evt-internal-lnk">{{ event.title }}</a>

    <span class="info">
      {% if event.fulldate %}
        {{ event.fulldate }}
      {% else %}
        {{ event.date | date : "%d.%m.%Y" }}
      {% endif %}
    </span>
  </div>

  {% endif %}
  {% endfor %}

  </div>

  <div id="highlights" class="col col-md-9">
    <h2>highlights&nbsp;&amp;&nbsp;Events</h2>

    {% for event in events %}

    {% capture posttime %}{{ event.date | date: '%s'}}{% endcapture %}
    {% assign content = event.content | strip_newlines %}

    {% if content != "" %}
    <div class="event" id="evt_{{ event.title | slugify }}">
      <h3>
      {% if posttime > nowunix  %}<span class="badge badge-info">coming</span>{% endif %}

      {{ event.title }}
      <span class="info">
        {{ event.location }} /
        {% if event.fulldate %}
          {{ event.fulldate }}
        {% else %}
          {{ event.date | date : "%d.%m.%Y" }}
        {% endif %}
      </span>
      </h3>

      <div class="description">
        {{ event.content }}
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>
