---
title: home

layout: default2
body_notitle: true
container: false
---

<div class="jumbotron jumbotron-fluid">
	<div class="container">
	<div class="row">
		<div class="fulltitle col col-md-4">
			<div class="l1">NEXT</div>
			<div class="l2">generation</div>
			<div class="l3">techno-social and</div>
			<div class="l4">Legal</div>
			<div class="l5">Encryption</div>
			<div class="l6">Access and</div>
			<div class="l7">Privacy</div>
		</div>
		<div class="col col-md-8">
			<h2>In the wake of the Snowden revelations, public trust in the Internet has eroded.</h2>

			<p>NEXTLEAP aims to create, validate, and deploy communication and computation protocols that can serve as pillars for a secure, trust-worthy, annotable and privacy-respecting Internet that ensures citizens fundamental rights. For this purpose NEXTLEAP will develop an interdisciplinary internet science of decentralisation that provides the basis on which these protocols will be built.</p>

		</div>
	</div>
	</div>
</div>

<div id="events" class="container">
	<h2>Our events</h2>

	<div class="row">
		<div class="col col-md-6">
			<h3>launch event <div class="info">05.05.2017 - Centre Pompidou</div></h3>

			<p class="lead">Considered as a right or as a commodity, cryptography is changing the nature of human relationships and consequently how our political environment is designed in a blurry balance between public and private space. This evening session is intended to bring a socio-political perspective on encrypted communication and its political governance or control, on the occasion of the EuroCrypt conference.</p>

			<h4>Workshop <div class="info">10:00-16:00 - Salle Triangle</div></h4>

			<p>NEXTLEAP will be hosting an all day training and use-case elicitation work so we can help your code maintain privacy and be compliant with Data Protection.</p>

			<h4>Political issues of cryptography <div class="info">17:00-21:00 - Petite Salle</div></h4>

			<p>The second part of the day will be the launch event of the project on the significance of next generation, secure, privacy-enhanced Internet systems. Among other speakers, Bernard Stiegler, Phil Rogaway, and more will participate in a roundtable discussion.</p>

			<p>Registration is mandatory because of max allowed attendees.</p>
			<p><a class="btn btn-primary" href="http://nextleap-launch.eventbrite.com">Make sure you booked a seat</a></p>
		</div>

		<div class="col col-md-6">

			<h3>Decrypting Algorithms</h3>

			<h4>What is "good encryption"? <div class="info">28.03.2017 14:00-17:00</div></h4>

			<strong>Location:</strong> ISCC - Salle de conférences (RdC), 20 rue Berbier-du-Mets, 75013 Paris

			<img class="img-fluid flyer" src="/seminars/poster1.png" alt="">

			<p><a href="/seminars/2017-1.html" class="btn btn-primary">more information</a></p>

			<h4>Other seminars</h4>

			<ul>
				{% for seminar in site.seminars %}
					{% if seminar.highlight != true %}{% unless seminar.hide %}<li><strong>{{ seminar.start | date: "%d.%m" }}</strong> <a href="{{ seminar.url }}">{{ seminar.title }}</a></li>{% endunless %}{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>
</div>

<div id="projects" class="container">
	<h2>Projects</h2>

	{% for project in site.projects %}
	<div class="row">
		<div class="col col-md-3">
					<h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
					<a href="{{ project.url }}">Learn more</a>
		</div>

		<div class="icon col col-md-1">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-{{ project.icon }} fa-stack-1x fa-inverse"></i>
		</span>
		</div>

		<div class="col col-md-8">
				{{ project.abstract }}
		</div>
	</div>
	{% endfor %}

</div>

<div class="container" id="testimonials">
	<h2>Why and how does it matter?</h2>

	<div class="row">
		<div class="col col-md-4">
			<h3>Francesca Musiani</h3>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/187038671?portrait=0&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>

		<div class="col col-md-4">

			<h3>Georges Danezis</h3>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/187038662?portrait=0&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>

		<div class="col col-md-4">
			<h3>Carmela Toncoso</h3>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/187038660?portrait=0&byline=0&title=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2>Meet the NEXTLEAP team</h2>

	<div class="row">

		<div class="col col-md-6">
			<p>NEXTLEAP combines expertise from across different disciplines in order to develop a set comprehensive answers to questions surrounding privacy and society. Our team is spread across Europe and includes specialists in computer science, formal protocol verification, sociology, social philosophy, cryptography and engineering.</p>
		</div>

		<div class="col col-md-6">
			<figure class="figure">
				<img class="img-fluid" src="img/static/phototeam.jpg" alt="NEXTLEAP Team group photo." />
				<figcaption class="figure-caption text-center">Holger Krekel, Georges Danezis, Bruno Blanchet, Francesca Musiani, Carmela Troncoso, Karthikeyan Bhargavan, Marios Isaakidis and Harry Halpin (not the entire team).</figurecaption>
			</figure>
		</div>

	</div>
</div>

<div class="container">
	<h2>Other activities</h2>

	<div class="row">

	{% assign events = site.events | sort: 'date' | reverse %}

	{% for event in events limit:4 %}

	{% capture posttime %}{{ event.date | date: '%s'}}{% endcapture %}
	{% assign content = event.content | strip_newlines %}

	<div class="event col col-md-3">
		<h4>

		<a href="{{ event.event_url }}">{{ event.title }}</a>
		<div class="info">
			{{ event.location }} /
			{% if event.fulldate %}
				{{ event.fulldate }}
			{% else %}
				{{ event.date | date : "%d.%m.%Y" }}
			{% endif %}
		</div>
		</h4>

	</div>
	{% endfor %}

	</div>


</div>

<div id="partners" class="container">
	{% include partners.html %}
</div>
