---
title: resources
body_notitle: true
container: true
---
{% assign resources = site.resources | sort: 'date' | reverse %}

<div class="row rawpage">
  <div class="col col-md-8" id="resources">

    <h2>NEXTLEAP Videos and other resources.</h2>

    {% for res in resources %}
    <h3>{{ res.title }}, {{ res.author }}</h3>
    <p>{% if res.fulldate %}<em>{{ res.fulldate }}</em> {% endif %}{{ res.content }}{% if res.res_url %} <strong><a target="_blank" href="{{ res.res_url }}">View resource</a></strong>{% endif %}</p>
    {% endfor %}


  </div>
</div>
