<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} | NEXTLEAP</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/bc76410341.js"></script>

    <link rel="stylesheet" href="/css/style2.css" type="text/css" />

  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/">
        <!-- <img src="/img/logo2/square-black.png" width="30" height="30" alt=""> -->
        NEXTLEAP
      </a>

      <div class="navbar-nav mr-auto">
        {% include navigation.html %}
      </div>

      <div class="social">
        <a href="http://twitter.com/nextleap2020"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="http://facebook.com/nextleap2020"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </nav>
