<a class="nav-item nav-link" href="/index.html">Home</a>
<a class="nav-item nav-link" href="/seminars">Seminars</a>
<a class="nav-item nav-link" href="/events.html">Highlights&nbsp;&amp;&nbsp;Events</a>

<span class="nav-item dropdown">
	<a class="nav-link dropdown-toggle"  href="#" id="nav_about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		About
	</a>

	<div class="dropdown-menu" aria-labelledby="nav_results">
		<a class="dropdown-item" href="/objectives.html">Objectives</a>
		<a class="dropdown-item" href="/tasks.html">Tasks</a>
	</div>

</span>
<span class="nav-item dropdown">
	<a class="nav-link dropdown-toggle"  href="#" id="nav_results" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Results</a>

	<div class="dropdown-menu" aria-labelledby="nav_results">
		<a class="dropdown-item" href="/deliverables.html">Deliverables</a>
		<a class="dropdown-item" href="/publications.html">Publications</a>
		<a class="dropdown-item" href="/resources.html">Resources</a>
	</div>

</span>
