{% include header.html %}

<div class="container seminar">

<h2>{{ page.title }}</h2>

<div class="row">
  <div class="info col col-md-3">

    <h3>who</h3>

    <ul>
    {% for speaker in page.speakers %}
      <li>{{ speaker }}</li>
    {% endfor %}
    </ul>

    <div class="info">
      <h3>when</h3>
      <div class="date">
        {{ page.date_pretty }}
      </div>

      <h3>where</h3>
      <div class="location">
        {{ page.location }}
      </div>
    </div>

  </div>

  <div class="col col-md-9">

    {% if page.danger %}<div class="alert alert-danger">{{ page.danger }}</div>{% endif %}
    {% if page.warning %}<div class="alert alert-warning">{{ page.warning }}</div>{% endif %}

    {{ content }}
  </div>
</div>

</div>

{% include footer.html %}
